<%# accepts: title: string, products: hash %>

<div class="carousel" data-controller="carousel">
  <h1><%= title %></h1>

  <div class="carousel-container">
    <div class="carousel-slider" data-carousel-target="slider">
      <% products.each do |product| %>
        <div class="carousel-slide" data-carousel-target="slide">
          <%= render product, bg_dark: true, button_type: 'tertiary'%>
        </div>
      <% end %>
    </div>

    <div class="carousel-navigation">
      <button class="carousel-button" id="prev" data-action="carousel#prev">
        <i class="fa-solid fa-chevron-left"></i>
      </button>
      <button class="carousel-button" id="next" data-action="carousel#next">
        <i class="fa-solid fa-chevron-right"></i>
      </button>
    </div>
  </div>
</div>
