<%# accepts: product %>

<div class="product-card">
  <div class="product-card-image-wrapper">
    <%= image_tag product.image, alt: product.name, class: 'product-card-image' %>
  </div>
  <div class="product-card-content">
    <div class="product-card-product-info">
      <h3><%= product.name %></h3>
      <p>$<%= product.price %></p>
    </div>
    <%= render 'components/button', type: 'link', text: 'Discover', path: product_path(product), variant: 'secondary' %>
  </div>
</div>
