<div class="quantity-selector" data-controller="quantity-selector">
  <label for="quantity">Quantity:</label>
  <div class="selector">
    <button data-action="quantity-selector#decrease"><i class="fa-solid fa-minus"></i></button>
    <input type="number" id="quantity" data-quantity-selector-target="quantity" value="1" min="1">
    <button data-action="quantity-selector#increase"><i class="fa-solid fa-plus"></i></button>
  </div>
</div>
