<%# accepts: label: boolean, quantity: number %>

<div class="quantity-selector" data-controller="quantity-selector">
  <% unless local_assigns[:label] %>
    <label for="quantity">Quantity:</label>
  <% end %>
  <div class="selector">
    <button data-action="quantity-selector#decrease"><i class="fa-solid fa-minus"></i></button>
    <input type="number" id="quantity" data-quantity-selector-target="quantity" value=<% local_assigns[:value] ? value : "1" %> min="1">
    <button data-action="quantity-selector#increase"><i class="fa-solid fa-plus"></i></button>
  </div>
</div>
