:root {
  // --default-text-color: #190800;
  --default-text-color: #1f1B1C;
  --default-text-color-light: #fafaf6;
  --faded-text-color: #7b7b7b;

  --brand-green: #6b7a4b;
  --brand-green-pale: #d4d9b4;
  --brand-green-light: #b4bb6b;
  --brand-green-dark: #3b4d26;
  --background-white: #fafaf6;
  --light-gray: #e0e0e0;
  --lighter-gray: #f0f0f0;
  --medium-gray: #c0c0c0;
  --dark-gray: #333333;
}
