:root {
  // App
  --page-padding: 0 8rem;
  --home-page-section-padding: 4rem 8rem;
  --section-margin: 0 0 4rem;
  --mobile-section-padding: 3rem 2rem;

  // Cards
  --card-padding: 2rem;
  --card-gap: 2rem;
}
