:root {
  // App
  --page-padding: 0 8rem;
  --home-page-section-padding: 4rem 8rem;
  --devise-page-padding: 0rem 24rem 4rem;
  --section-margin: 0 0 4rem;
  --product-margin: 4rem 0 4rem;
  --mobile-page-padding: 0 1rem;
  --mobile-section-padding: 3rem 2rem;

  // Cards
  --card-padding: 2rem;
  --card-gap: 2rem;
}
