<div class="util-page-container">
  <h1 class="page-title">FAQ</h1>
  <%= render "components/accordion",
    title: "",
    items: [
      { header: "What is Wineland Dressings?",
        content: "Wineland Dressings is a company that specializes in making and selling salad dressings. We are a family-owned business that has been operating for over 20 years."
      },
      { header: "How do I place an order?",
        content: "To place an order, simply visit our online store and select the products you would like to purchase. Once you have added all of the items to your cart, proceed to checkout and follow the instructions to complete your purchase."
      },
      { header: "How can I contact customer service?",
        content: "You can contact our customer service team by emailing us at"
      }
    ]
  %>
</div>
