<div class="util-page-container">
  <%= render "components/util_page_template",
    title: "Terms of Sale and Delivery",
    content: ("
      Please take a few moments to read and fully understand the terms and conditions governing the use of the Wineland Dressings transactional site. The use of the web store constitutes your commitment to respect these terms and conditions which apply to all sales concluded through the site.

      <h4>1. ORDERS AND ACCESS</h4>

      You can access the online store through www.wineland.ca.

      You accept our following terms and conditions by connecting to the site and/or by placing an order on wineland.ca.

      you must read the terms and conditions of the online store before making your purchase.

      <h4>2. AVAILABILITY AND PRODUCTS</h4>

      The colors of the products presented on the website have been reproduced as faithfully as possible.

      Wineland Dressings reserves the right, without notice or obligation, to discontinue or modify the selection of products offered on this site.

      If the desired product is not available on the website, we may simply be out of stock or we may have decided to stop manufacturing it. Contact us to learn more, it will be our pleasure to process your request.

      we hope that you will be satisfied with your purchased products. Contact us if you can't find the item you're looking for.

      <h4>3. NO REFUNDS OR EXCHANGES</h4>

      Once the transaction is completed, it is not possible to cancel your order.

      No refunds will be made.

      We heavily suggest checking your order before making the payment.

      <h4>4. PRICE AND PROMO CODE</h4>

      Retail prices shown are in Canadian dollars, before taxes and shipping. The Goods and Services Tax (GST) is calculated at the rate of 5% on the selling price plus the Quebec Sales Tax (QST) which is calculated at the rate of 9.975% on the selling price excluding GST.

      Transportation costs are calculated according to destination and weight.

      The total amount is payable in one payment at the time of the transaction.

      Wineland Dressings reserves the right to modify the retail and delivery prices at any time and without notice. Prices on the site may differ from the prices displayed in the store.

      Any order with a PROMO CODE that has not been encoded before finalizing your purchase is not modifiable. We work with professionals so that all information is clearly indicated when browsing our website. It is your responsibility to be attentive and to contact us before finalizing your purchase if your promo code does not work.

      Prices do not include shipping and taxes.

      No coupon code can be added once your purchase is finalized.

      <h4>5. SHIPPING AND RECEIVING</h4>

      Once the order has been completed and paid for on our online store, it will be processed within 1 to 3 business days. The package will be delivered within 2 to 10 business days.

      Packages are sent via different delivery partners. Once your order has been shipped you will receive a tracking number. We invite you to click on it in order to be redirected to the service provider's website to track your package.

      In case of absence for reception: If there is no one at the destination address to accept the package, depending on the service provider, a delivery notice will be left, informing you on how to pick up the package at the post office. The package is kept for 15 days before being returned to us.

      In the case of a package return that has not been picked up or that has not been dropped off due to a lack of security or because no one was present at home, the shipping costs for a second attempt will be at your expense.

      IN-STORE PICK-UP

      In store pickup is not available at this time.

      <h4>6. PAYMENT</h4>
      Orders placed on the Wineland Dressings site must be paid by credit card. We accept Visa and Mastercard credit cards directly on Wineland.ca.

      If you do not wish to use the online payment services offered, you can contact us.

      We also offer assistance for online purchases.

      Once the transaction is completed, it is not possible to cancel your order.

      We do not issue refunds. If you have any problems with your order, please write to us at info@wineland.ca.

      <h4>7. DELIVERY PROBLEMS</h4>
      Occasionally, an order may be cancelled by our system for a variety of reasons, such as unavailability of an item, difficulty in processing your payment information, inability to deliver to the address provided, or duplication of a previous order. In such a case, you will be notified as soon as possible of the reasons for the cancellation of the order.

      <h4>8. CHANGES IN TERMS</h4>
      We reserve the right to modify the terms and conditions of our transactional site at any time without notice. To this end, we advise you to consult these terms and conditions each time you make a purchase.

      check the terms and conditions before each purchase.

    ").html_safe
  %>
</div>
