.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  background-color: #f1f1f1;
  border: none;
  padding: 15px 32px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: all .2s;

  &:active {
    transform: scale(.95);
  }
}

.btn-primary {
  background-color: var(--brand-green-dark);
  color: white;
  border: 1px solid transparent;

  &:hover {
    background-color: transparent;
    color: var(--brand-green-dark);
    border: 1px solid var(--brand-green-dark);
  }
}

.btn-secondary {
  background-color: transparent;
  color: var(--default-text-color-light);
  border: 1px solid var(--background-white);
  transition: all .2s;

  &:hover {
    background-color: var(--background-white);
    border: 1px solid transparent;
    color: var(--brand-green-dark)
  }
}
