#flashes {
  z-index: 1001;
  position: fixed;
  top: 5rem;
  right: 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: .5rem;
  overflow: hidden;
}

.flash {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: max-content;
  gap: 1rem;
  padding: 1rem;
  text-align: center;
  background: white;
  color: var(--brand-green-dark);
  border: 1px solid var(--medium-gray);
  box-shadow: var(--base-shadow);
}

.flash-error {
  color: darkred
}
