.navbar {
  z-index: 1000;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 8rem;
  background-color: var(--background-white);}

.logo-image {
  width: 12rem;
}

.nav-items, .nav-icons {
  display: flex;
  gap: 2rem;
}

.nav-item {
  font-size: 1.5rem;

  &:hover {
    cursor: pointer;
  }
}

.nav-link {
  transition: all 0.2s;

  &:hover {
    color: var(--faded-text-color);
  }
}
