<div class="page-container">
  <h1 class="page-title">Contact Us</h1>

  <div class="contact-us-container">
    <div class="contact-info-container">
      <span class="contact-info">
        <i class="fa-solid fa-house"></i><p>PO BOX 196 Naramata, BC V0H 1N0</p>
      </span>
      <span class="contact-info">
        <i class="fa-solid fa-phone"></i><p>1-250-462-0963</p>
      </span>
      <span class="contact-info">
        <i class="fa-solid fa-envelope"></i><p>info@wineland.ca</p>
      </span>
    </div>

    <div class="contact-form-container">
      <%= render "components/contact_form" %>
    </div>
  </div>

</div>
