// Import config
@import "config/index";

// Import external libraries

// Import Pages
@import "pages/index";

// Import Devise styles
@import "devise/index";

// Import components
@import "components/index";


// App-wide styles

html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

html, body {
	line-height: 1;
  background-color: var(--background-white);
  color: var(--default-text-color);
}

p {
  line-height: 1.2rem;
}

ol, ul {
  list-style: none;
}

a {
  color: var(--default-text-color);
  text-decoration: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.hidden {
  display: none;
}

.page-container {
  padding: var(--page-padding);
}

.page-title {
  width: 100%;
  text-align: center;
  font-size: clamp(2rem, 5vw, 3rem);
  margin: 4rem 0;
}

@media screen and (max-width: 768px) {
  .page-container {
    padding: var(--mobile-page-padding);
  }

}
