<div class="page-container">
  <h1 class="page-title">Our Products</h1>

  <div id="products" class="products-list">
    <% @products.each do |product| %>
      <%= render product, button_type: 'primary' %>
    <% end %>
  </div>
</div>
